<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ftqo.dev</title>
    <link href="/assets/css/styles.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      .scrollbar-hide {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="h-screen w-screen snap-y snap-mandatory overflow-scroll dark:flx-flexoki">
      <section class="flex min-h-screen w-screen snap-start flex-col bg-flx-bg text-4xl text-flx-tx [&>p]:mb-4">
        <div class="place-items grid h-screen grid-cols-4 grid-rows-3 gap-0 align-middle">
          <div class="grid- col-start-2 row-start-2">
            <p>hi, im ftqo</p>
            <p>
              check out my
              <span class="bg-gradient-to-r from-flx-re to-flx-or bg-clip-text font-bold text-transparent"
                ><a href="https://github.com/ftqo">github</a></span
              >
            </p>
          </div>
        </div>
      </section>
      <section class="flex h-screen w-screen snap-start items-center justify-center bg-flx-tx text-4xl text-flx-ui_3">
        <p>
          i also have a
          <span class="bg-gradient-to-r from-flx-bl_2 to-flx-cy_2 bg-clip-text font-bold text-transparent"><a href="/blog">blog</a></span>
        </p>
      </section>
      <section class="flex min-h-screen w-screen snap-start flex-col bg-flx-bg text-4xl text-flx-tx [&>p]:mb-4">
        <div class="place-items grid h-screen grid-cols-4 grid-rows-3 place-items-end gap-0">
          <div class="grid- col-start-3 row-start-2 flex flex-col text-right">
            <p>learn more</p>
            <p>
              <span class="bg-gradient-to-r from-flx-pu to-flx-ma bg-clip-text font-bold text-transparent"
                ><a href="/about">about me</a></span
              >
            </p>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
