<div id="content" class="[&>p]:pb-5">
  <p class="text-3xl font-bold">
    welcome to
    <span class="bg-gradient-to-br from-ctp-pink to-ctp-mauve bg-clip-text text-transparent">ftqo.dev</span>!
  </p>
  <p>I am a full-stack developer and cloud engineer, with over a year of experience with both development and DevOps.</p>
  <p>
    For professional inquiries, please contact me by the email on my
    <a class="bg-gradient-to-br from-ctp-sky to-ctp-lavender bg-clip-text text-transparent" target="_blank" href="https://github.com/ftqo"
      >GitHub</a
    >.
  </p>
  <p>
    This website is very much in progress. I am currently rewriting a blogging service I threw together in early 2023, so this website is
    currently on hold.
  </p>
</div>
