<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/assets/js/htmx.min.js"></script>
    <link href="/assets/css/styles.css" rel="stylesheet" />
    <link href="/assets/images/favicon.ico" rel="icon" />
  </head>

  <body class="bt-10 mx-auto min-h-screen bg-flx-bg py-10 text-lg/7 text-flx-tx dark:flx-flexoki sm:w-[87.5%] md:w-[700px] lg:w-[940px]">
    <header class="">
      <nav class="mx-auto flex max-w-7xl justify-between py-10 text-2xl font-semibold leading-8">
        <div class="mr-3">
          <a href="/">ftqo.dev</a>
          <a class="font-light text-flx-tx_2 hover:cursor-pointer">/ {{ .Path }}</a>
        </div>
        <div class="flex justify-end">
          <a target="_blank" href="https://github.com/ftqo" class="text-flx-text hover:text-flx-overlay2 transition-colors"
            >github<span>&rarr;</span></a
          >
        </div>
      </nav>
    </header>

    <div class="">{{ .Content }}</div>

    <footer class="text-flx-subtext0 absolute bottom-0 left-0 right-0 h-10 justify-center text-center">
      <p>
        made with
        <a href="https://www.youtube.com/watch?v=W86cTIoMv2U" target="_blank"
          ><span class="bg-gradient-to-br from-flx-re_2 to-flx-ma_2 bg-clip-text text-transparent">♥</span></a
        >
        in los gatos, ca
      </p>
    </footer>
  </body>
</html>
